@model List< JogadoresViewModel>

<div class="container mt-4">
    <!-- Botões acima da tabela -->
    <div class="mb-3">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary btn-sm">Voltar à Home</a>
        <a href="@Url.Action("Create", "Jogadores")" class="btn btn-success btn-sm">Criar Novo Registro</a>
    </div>

    <h2>Lista de Jogadores</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th asp-for="Id">ID</th>
                <th asp-for="nome">Nome</th>
                <th asp-for="nomePosicao">Posição</th>
                <th asp-for="nomeTime">Logo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var time in Model)
            {
                <tr>
                    <td>@time.id</td>
                    <td>@time.nome</td>
                    <td>@time.nomePosicao</td>
                    <td>@time.nomeTime</td>
                    <td>
                        <a asp-controller="Jogadores" asp-action="Edit" asp-route-id="@time.id" class="btn btn-primary btn-sm">Editar</a>
                        <button type="button" class="btn btn-danger btn-sm" onclick="ApagarModel(@time.id)">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function ApagarModel(id) {
        if (confirm("Confirmar a exclusão do registro?")) {
            location.href = "Jogadores/Delete?Id=" + id;
        }
    }
</script>
